<li>
  <div class="ethercraft_name">
    <%= ethercraft.name %> (<%= link_to "Edit", [ :edit, ethercraft] %>)
  </div>
  <div class="ethercraft_desc">
    <%= ethercraft.description %>
  </div>
</li>
