<li>
  <%= image_tag character.image.small_thumb.url %> <%= link_to character.name, character %> (<%= link_to "Edit", [ :edit, character] %>) (<%= link_to "Delete", character, method: :delete %>)
</li>
